.idea/*
*.iml
out/production/mega-kotlin/ru/mobiledimension/study/megakotlin/day1/NewFileKt.class
out/production/mega-kotlin/ru/mobiledimension/study/megakotlin/day2/
out/production/mega-kotlin/ru/mobiledimension/study/megakotlin/day3/
out/production/mega-kotlin/ru/mobiledimension/study/megakotlin/day4/
